@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 17px;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card:first-child {
    margin-bottom: 0;
}
.card__content {
    padding: 16px 12px;
    border: 0.3px solid #828282;
    box-sizing: border-box;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-sizing: border-box;
}

.image-block {
    position: relative;
}
.image-block picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.spb-image {
    width: 100%;
    height: 100%;
}
.img-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    padding: 8px 17px;
}
.img-text_yellow {
    background-color: #FED74B;
    color: #3E3E3E;
    top: 18.18%;
    left: 0;
}
.img-text_purple {
    background-color: #7553FF;
    color: #FFFFFF;
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.img-text_blue {
    background: #099CE8;
    top: 18.18%;
    left: 0;
    color: #FFFFFF;
}

.clock-container {
    display: flex;
    align-items: center;
}
.clock__icon {
    position: relative;
}
.clock__line {
    position: absolute;
    left: 7px;
    top: calc(50% - 6px);
}
.clock__time {
    margin-left: 25px;
    font-size: 14px;
}

.event {
    margin-top: 15px;
}
.event__h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    word-break: break-word;
}
.event__ul {
    margin-top: 20px;
}
.event__ul li {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 20px;
    margin-top: 9px;
}
.li__img {
    margin-right: 20px;
}
.li__time {
    flex-wrap: wrap;
    align-items: center;
}
.times-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.time {
    margin-top: 7px;
    margin-right: 7px;
    padding: 3px 15px;
    font-size: 14px;
    background: #D9E8FF;
    border-radius: 11px;
    cursor: pointer;
}
.time_active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #6BA6FF;
}
.time:last-child {
    margin-right: 0;
}

.card__bottom {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.price_little {
    font-size: 10px;
}
.price {
    font-size: 30px;
    color: #000000;
}
.bottom__details {
    display: flex;
    flex: 0 1 50%;
    align-items: center;
    justify-content: center;
    background: #FED74B;
    border: 0.5px solid #CBA500;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 14px;
}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    .container {
        max-width: 1070px;
    }
    .card {
        display: flex;
    }
    .img-text {
        font-size: 16px;
        padding: 12px 34px;
    }


    .event__h3 {
        font-size: 20px;
        order: 1;
        line-height: 34px;
    }
    .clock-container {
        order: 2;
    }
    .clock__time {
        font-size: 14px;
    }
    .event {
        order: 3;
        margin: 0;
    }
    .card__bottom {
        order: 4;
    }


    .event__ul {
        margin: 0;
    }
    .card__content {
        display: flex;
        flex: 0 1 calc(1070px - 473px);
        flex-direction: column;
        border: 0.5px solid #8E8E8E;
        border-left: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 0;
        box-sizing: border-box;
    }
    .spb-image {
        flex: 0 1 473px;
    }

    .event {
        flex: 1 1 auto;
    }
    .event__ul li {
        align-items: center;
    }
    .li__img {
        margin-right: 14px;
    }
    .li__time {
        font-size: 16px;
        align-items: center;
    }
    .times-container {
        width: auto;
        margin-left: 10px;
        margin-top: 0;
    }
    .time {
        font-size: 16px;
        margin-top: 0;
    }

    .time_more-btn {
        position: relative;
        font-size: 16px;
        margin-right: 7px;
        padding: 3px 15px;
        background: #D9E8FF;
        border-radius: 11px;
        cursor: pointer;
    }
    .otherTimesBlock {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        top: 26px;
        left: 0;
    }
    .otherTimesBlock_hidden {
        display: none;
    }
    .time-hidden {
        margin-top: 10px;
        margin-right: 0;
    }

    .card__bottom {
        justify-content: flex-start;
        margin: 0;
        align-items: center;
        display: flex;
    }
    .bottom__price {
        margin-right: 10px;
    }
    .price_little {
        font-size: 14px;
    }
    .price {
        font-size: 32px;
    }
    .bottom__details {
        padding: 9px 40px;
        flex: 0 1 auto;
        font-size: 18px;
        border: none;
    }
}